a.btn.btn-primary([routerLink]='["create"]') CREATE

ng-container(*ngIf='books | async as booksCollection; else errorTemplate')
  .alert.alert-primary(*ngIf='booksCollection.length === 0')
    | No books available

  .alert.alert-default {{ booksCollection.length }}

  .card-group
    .card(*ngFor='let book of booksCollection')
      img.card-img-top([src]='book.cover')
      .card-header {{ book.title }}
      .card-body
        .card-text {{ book.subtitle }}
        a.btn.btn-link([routerLink]='[book.isbn]') Details
        a.btn.btn-link([routerLink]='[book.isbn, "edit"]') Edit

ng-template(#errorTemplate)
  | Error occurred
