{
  "semi": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "parser": "pug",
        "bracketSpacing": false
      }
    }
  ]
}
